*.java linguist-detectable=false
*.rb linguist-detectable=false
*.ruby linguist-detectable=false
*.js linguist-detectable=true
*.tsx linguist-detectable=true

# Vendored dependencies
- third[-_]?party/
- 3rd[-_]?party/
- ios/vendors?/
- extern(al)?/
- ios?/
